*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background: #ffefdf;
}


/* 
*****************************EMPIEZA***************************
**********************NAVBAR HEADER MENU***********************
***************************************************************
*/
nav{
    position: fixed;
    width: 100%;
    transition: 0.5s;
}

.nav_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.nav_container .nav__logo a{
    font-size: 25px;
    font-weight: bold;
    color: #fa3854; 
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
}

.nav_container  ul{
     display: flex;
}

.nav_container ul li{
    padding: 10px;
}

.nav_container a{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav_container .nav__log a{
    padding: 5px;
    background: #fff;
    color: #fa3854;
    border-radius: 6px;
    transition: 0.3s ease;
}

.nav_container .nav__log a:hover{
    background: #fa3854;
    color: #fff;
}

.nav_container .nav__item a{
    color: #93908b;
    position: relative;
    display: block;
}

.nav_container .nav__item a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fa3854;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.nav_container .nav__item a:hover::before{
    transform: scaleX(1);
}

.nav_container .nav__btn{
    display: none;
}

.nav_container .nav__btn .bar{
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fa3854;
}

.sticky{
    padding: 10px 20px;
    background: #ffefdf;
    border-bottom: 1px solid #00000020;
    z-index: 100;
}

/* 
*****************************EMPIEZA***************************
**************************SECTION HOME*************************
***************************************************************
*/

section.home{
    padding: 120px 60px 100px;
    display: flex;
    align-items: center;
}

.home__img,
.home__info{
    width: 100%;
    text-align: center;
}

.home__img img{
    height: 450px;
    margin: 0 auto;
}

.home__info img{
    display: none;
}

.home__info h1{
    color:  #fa3854;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.home__info h2{
    color: #111235;
    font-size: 32px;
    border-bottom: 3px solid #fa3854;
    letter-spacing: -2px;
    display: inline;
}

.home__info p{
    color: #111235;
    font-size: 24px;
    font-weight: bold;
    margin: 20px auto;
    width: 80%;
}

.home__info a{
    padding: 5px;
    background: #fa3854;
    color: #fff;
    border-radius: 6px;
    transition: 0.3s ease;
    font-size: 20px;
    font-weight: bold;
}

.home__info a:hover{
    background: #fff;
    color: #fa3854;
}

/* 
*****************************EMPIEZA***************************
************************SECTION ADOPTADOS***********************
***************************************************************
*/

section.adoptados{
    width: 100%;
    height: 100%;
    padding: 110px 40px 0;
}

.adoptados__title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.adoptados__title h1{
    color: #fa3854;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    border-bottom: 3px solid #111235;
    text-transform: uppercase;
    
}

.adoptados__title img{
    height: 160px;
}

.adoptados__contenedor{
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  
.js-scroll.scrolled {
    opacity: 1;
}
/*  
.scrolled.fade-in-bottom {
    animation: fade-in-bottom 0.5s ease-in-out both;
  }
*/
  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }

.card{
    background: #fff;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.180);
    height: 100%;
    margin-bottom: 40px;
    text-align: center;
}


.card .card__img img{
    height: calc( 300px + 3em);
  width: 260px;
    border-radius: 15px;
}

.card .card__info{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 20px 0;
}

.card .card__body{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.card h2{
    color: #111235;
    font-size: 30px;
    letter-spacing: 5px;
    display: inline;
    text-transform: uppercase;
}

.card .card__info h4{
    color: #111235;
    font-size: 20px;
    font-weight: 900;
}

.card .card__info i{
    font-size: 30px;
    color: #111235;
}



/* 
*****************************EMPIEZA***************************
**************************SECTION ACERCA***********************
***************************************************************
*/

section.acerca{
    padding: 110px 40px 0;
}

section.acerca .acerca__info{
    text-align: center;
}

section.acerca .acerca__info h1{
    color: #fa3854;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    border-bottom: 3px solid #111235;
    text-transform: uppercase;
    display: inline;
}

section.acerca .acerca__container{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

section.acerca .acerca__container .card{
    width: 60%;
    border-radius: 20px;
    background: #fff;
}

section.acerca .acerca__container .card p{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: #111235;
    margin: 40px;
    text-align: justify;
}

section.acerca .acerca__adopcion__title,
section.acerca .acerca__daradopcion__title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0;
}

section.acerca .acerca__adopcion__title h1,
section.acerca .acerca__daradopcion__title h1{
    color: #fa3854;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    border-bottom: 3px solid #111235;
    text-transform: uppercase;
}
section.acerca img{
    height: 180px;
}

section.acerca .adopcion__container,
section.acerca .daradopcion__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.acerca .adopcion__container .step,
section.acerca .daradopcion__container .step{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 20px #00000020;
    padding: 20px;
    border-radius: 50px;
}

section.acerca .adopcion__container .step h1,
section.acerca .daradopcion__container .step h1{
    text-align: center;
    font-size: 35px;
    border-bottom: 3px solid #fa3854;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: #111235;
}

section.acerca .adopcion__container .step p,
section.acerca .daradopcion__container .step p{
    margin: 25px;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #111235;
}

section.acerca .adopcion__container .arrow i,
section.acerca .daradopcion__container .arrow i{
    font-size: 50px;
    color: #111235;
    margin: 20px 0;
}

section.acerca .adopcion__container .arrow i:nth-child(2),
section.acerca .daradopcion__container .arrow i:nth-child(2){
    display: none;
}

/* 
*****************************EMPIEZA***************************
************************SECTION CONTACTO***********************
***************************************************************
*/

section.contacto{
    width: 100%;
    height: 100%;    
    padding: 110px 40px 0;
}

section .contacto__title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .contacto__title img{
    height: 160px;
}

section .contacto__title h1{
    color: #fa3854;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    border-bottom: 3px solid #111235;
    text-transform: uppercase;
    display: inline;
}

section form{
    background: #fa3854;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1000px;
    margin: 35px auto;
    border-radius: 30px;
}

section form .contacto__datos{
    margin-bottom: 30px;
}

section form .contacto__datos input{
    display: block;
    border: none;
    width: 300px;
    height: 50px;
    outline: none;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 10px;
}
section form .contacto__datos label,
section form .contacto__mensaje label{
    display: block;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    margin: 20px 0 10px 0;
    color: #fff;
}

section form .contacto__mensaje textarea{
    border: none;
    outline: none;
    width: 380px;
    height: 220px;
    resize: none;
    padding: 15px;
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 10px;
}

section form .contacto__mensaje button{
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #111235;
    padding: 5px 15px;
    border-radius: 10px;
    background: #111235;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

/***************************************************/
                /*FOOTER*/
/***************************************************/
footer{
    width: 100%;
    height: 200px;
    background: #111235;
}
/********************************************************************************************
responsive
*********************************************************************************************/
@media only screen and (max-width: 360px){

    nav .nav_container .nav__item {
        position: absolute;
        top: 80px;
        left: -800px;
        transition: .6s ease-in-out;
        width: 100%;
    }

    nav .nav_container .nav__item.active{
        background: #ffefdf;
        left: 0;
    }

    nav .nav_container .nav__item ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .nav_container .nav__item li{
        margin: 10px 0;
    }

    nav .nav_container .nav__item li:nth-child(5),
    nav .nav_container .nav__item li:nth-child(6){
        margin: 10px 0 20px;
    }

    section.home{
        padding: 80px 30px;
        align-items: baseline;
        text-align: center;
        height: 90vh;
    }

    section.home .home_text h1,
    section.home .home_text p{
        margin: 20px 0;
    }

    section.home .home_text p{
        text-align: justify;
        line-height: 30px;
    }

    section.home .home_text img{
        height: 100px;
        margin: 20px 0;
    }

    section.home .img_home{
        display: none;
    }


    .home_text h2{
        display: inline;   
    }
    
    /*****************************/
    /*       SECCION ADOPTADOS   */
    /*****************************/

    section.adoptados{
        padding: 110px 30px 0;
    }

    section .adoptados__title{
        margin-bottom: 15px;
    }

    section .adoptados__title h1{
        font-size: 35px;
        font-family: fantasy;
    text-transform: uppercase;
    text-align: center;
    }

    .adoptados__contenedor{
        justify-content: center;
        padding: 0;
    }

    .card{
        margin-bottom: 15px;
    }

    .card .card__img img{
        width: 300px;
    }

    .card .card__info h2{
        text-transform: uppercase;
    }

    .card .card__info h4{
        font-size: 26px;
    }

    section.acerca{
        padding: 110px 30px 0;
    }

    section.acerca .acerca__info h1,
    section.acerca .acerca__adopcion__title h1, 
    section.acerca .acerca__daradopcion__title h1{
        text-transform: uppercase;
        text-align: center;
        font-family: fantasy;
        display: block;
    }

    section.acerca .acerca__container .card{
        width: 300px;
    }

    section.acerca .acerca__container .card p{
        font-family: sans-serif;
        text-align: left;
        margin: 15px 10px 30px;
    }

    section.acerca .acerca__container .card p:nth-child(2),
    section.acerca .acerca__container .card p:nth-child(4){
        text-align: right;
    }

    section.acerca .acerca__container .card p:nth-child(5){
        text-align: center;
    }

    section.acerca .adopcion__container .step{
        width: 300px;
    }

    section.contacto{
        padding: 110px 30px 0;
    }
    section .contacto__title h1{
        text-transform: uppercase;
        text-align: center;
        font-family: fantasy;
        display: block;
    }

    section form{
        width: 300px;
        border-radius: 6px;
    }

    section form .contacto__datos,
    section form .contacto__mensaje{
        width: 100%;
    }

    section form .contacto__datos label,
    section form .contacto__mensaje label{
        margin: 10px 30px;
    }

    section form .contacto__datos input,
    section form .contacto__mensaje textarea{
        width: 80% !important; 
        padding: 0;
        margin: 0 auto;
        border-radius: 6px;
        font-size: 20px;
        padding: 20px;
    }

    section form .contacto__mensaje a{
    margin: 15px 30px !important;
    }
}

@media only screen and (max-width: 425px){

    nav .nav_container .nav__item {
        position: absolute;
        top: 80px;
        left: -800px;
        transition: .6s ease-in-out;
        width: 100%;
    }

    nav .nav_container .nav__item.active{
        background: #ffefdf;
        left: 0;
    }

    nav .nav_container .nav__btn{
        display: block;
    }

    nav .nav_container .nav__item ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .nav_container .nav__item li{
        margin: 10px 0;
    }

    nav .nav_container .nav__item li:nth-child(5),
    nav .nav_container .nav__item li:nth-child(6){
        margin: 10px 0 20px;
    }

    section.home{
        padding: 90px 30px;
        text-align: center;
    }

    section.home img{
        height: 110px;
        margin: 20px 0;
    }

    section.home .img_home{
        display: none;
    }

    section.home .home_text h2{
        display: inline;
        line-height: 50px;
    }

    section.adoptados,
    section.acerca,
    section.contacto{
        padding: 110px 20px 10px;
    }

    section.adoptados .adoptados__contenedor{
        justify-content: center;
    }

    section .adoptados__title h1{
        text-align: center;
    }
    
    section form{
        width: 100%;
        border-radius: 20px;
    }

    section form .contacto__mensaje textarea{
        width: 100%;
    }

    section .adoptados__title img,
    section.acerca img{
        display: none;
    }

    section.acerca .adopcion__container,
    section.acerca .daradopcion__container{
        flex-direction: column;
    }

    section.acerca .adopcion__container .step, 
    section.acerca .daradopcion__container .step{
        margin: 0 0 20px;
    }

    section.acerca .acerca__container .card{
        width: 100%;
    }

    section form .contacto__mensaje a{
        margin: 15px 0;
        float: right;
        display: block;
        border-radius: 6px;
        background: #111235;
        border-color: #111235;
    }
}

@media only screen and (max-width: 990px) {
    nav .nav__item{
        display: none !important;
    }    

    nav .nav__btn{
        display: block !important;
    }
}

@media only screen and (max-width: 768px){

}

/*
 @media only screen and (max-width: 850px){
    nav .nav_container .nav__btn{
        display: block;
    }

    section.adoptados .adoptados__title img,
    section.acerca .acerca__adopcion__title img,
    section.acerca .acerca__daradopcion__title img{
        display: none;
    }

    section.acerca .adopcion__container,
    section.acerca .daradopcion__container{
        flex-flow: column;
    }

    section.acerca .adopcion__container .arrow i,
    section.acerca .daradopcion__container .arrow i {
        display: none;
    }

    section.acerca .adopcion__container .arrow i:nth-child(2),
    section.acerca .daradopcion__container .arrow i:nth-child(2) {
        display: block;
    }
 } 

 */


 @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }