@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #4d84e2;
  border-radius: 5rem;
}

body{
  padding: 0!important;
}

section {
  padding: 5rem 9%;
  background: #eee;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
  color: #130f40;
}

.heading span {
  color: #4d84e2;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  border-radius: 5rem;
  border: 0.2rem solid #130f40;
  cursor: pointer;
  background: none;
  color: #130f40;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #130f40;
  z-index: -1;
  transition: .2s linear;
  clip-path: circle(0% at 0% 5%);
}

.btn:hover::before {
  clip-path: circle(100%);
}

.btn:hover {
  color: #fff;
}

/*
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}
*/

.header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.header .logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
}

.header .logo i {
  color: #4d84e2;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #666;
}

.header .navbar a:hover {
  color: #4d84e2;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #130f40;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #4d84e2;
}

.header .login-form {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
}

.header .login-form.active {
  display: block;
  -webkit-animation: fadeIn .4s linear;
          animation: fadeIn .4s linear;
}

.header .login-form h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.header .login-form .box {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: .1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}

.header .login-form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding: 1rem 0;
}

.header .login-form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.header .login-form .btn {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}

.header .login-form .btn:hover {
  background: #130f40;
}

.header .login-form .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.header .login-form .links a {
  font-size: 1.4rem;
  color: #e67e22;
}

.header .login-form .links a:hover {
  color: #130f40;
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.7)  url(../../assets/image/dog.jpg) no-repeat;
  /*background-position: center;*/
  background-size: cover;
  position: relative;
  background-blend-mode: darken;
}

.home .content {
  width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #fff;
  padding-bottom: 1rem;
}

.home .content h3 span {
  color: #e67e22;
}

.home .content .btn {
  color: #fff;
  border-color: #fff;
}

.home .content .btn:hover {
  color: #130f40;
}

.home .content .btn::before {
  background: #fff;
}

.home .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content h3 {
  color: #130f40;
  font-size: 4rem;
}

.about .content h3 span {
  color: #e67e22;
}

.about .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.dog-food,
.cat-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.dog-food .image,
.cat-food .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.dog-food .image img,
.cat-food .image img {
  width: 100%;
}

.dog-food .content,
.cat-food .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
  padding: 2rem;
}

.dog-food .content h3,
.cat-food .content h3 {
  font-size: 3.5rem;
  color: #130f40;
}

.dog-food .content h3 span,
.cat-food .content h3 span {
  color: #e67e22;
}

.dog-food .content p,
.cat-food .content p {
  padding: 1rem 0;
  line-height: 2;
  color: #666;
  font-size: 1.6rem;
}

.dog-food .content .amount,
.cat-food .content .amount {
  font-size: 3.5rem;
  color: #130f40;
  padding: .5rem 0;
}

.dog-food .content a img,
.cat-food .content a img {
  height: 15rem;
  margin-top: 1rem;
}

.dog-food .content a:hover img,
.cat-food .content a:hover img {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.cat-food {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.shop .box-container,
.list-product {
  background: #fff;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.list-product .box .content{
  position: relative;
}

.list-product .box .content .btn_edit{
  position: absolute;
    right: 0;
    top: 5px;
    background: none;
    cursor: pointer;
}

.list-product .box .content .btn_del{
  position: absolute;
    right: 45px;
    top: 5px;
    background: none;
    cursor: pointer;
}

.list-product .box .content button i{
  font-size: 2.5rem;
}

.shop .box-container .box,
.list-product .box {
  position: relative;
  overflow: hidden;
}

.shop .box-container .box:hover .image img,
.list-product .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shop .box-container .box:hover .icons,
.list-product .box:hover .icons{
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.shop .box-container .box .image,
.list-product .box .image {
  /*height: 45rem;*/
  width: 100%;
  overflow: hidden;
}

.shop .box-container .box .image img ,
.list-product .box .image img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .box-container .box .icons 
.list-product .box-container .box .icons{
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.shop .box-container .box .icons a,
.list-product .box-container .box .icons a{
  display: block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.2rem;
  margin-top: 1rem;
  background: #fff;
  color: #130f40;
  text-align: center;
}

.shop .box-container .box .icons a:hover {
  color: #fff;
  background: #4d84e2;
}

.shop .box-container .box .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .box-container .box .content h3,
.list-product .box .content h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding-bottom: .5rem;
}

.shop .box-container .box .content .amount,
.list-product .box .content .amount {
  font-size: 2rem;
  color: #4d84e2;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
  background: #fff;
  padding: 2rem;
}
.services .box-container .box {
  background: #eee;
  padding: 3rem;
  text-align: center;
  border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
}

.services .box-container .box:nth-child(even) {
  border-radius: 79% 21% 81% 19% / 58% 93% 7% 42%;
}

.services .box-container .box:hover {
  border-radius: .5rem;
}

.services .box-container .box i {
  height: 6.5rem;
  width: 6.5rem;
  line-height: 6.5rem;
  font-size: 3rem;
  color: #fff;
  background: #e67e22;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.services .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}

.plan .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.plan .box-container .box {
  position: relative;
  padding: 2rem;
  border-radius: .5rem;
  position: relative;
  margin-bottom: 2rem;
  background: #eee;
}

.plan .box-container .box .btn {
  position: absolute;
  bottom: -2rem;
  right: 2rem;
  background: #fff;
}

.plan .box-container .box .title {
  text-align: center;
  color: #e67e22;
  font-size: 2rem;
}

.plan .box-container .box .day {
  text-align: center;
  color: #130f40;
  font-size: 3.5rem;
}

.plan .box-container .box .icon {
  color: #e67e22;
  font-size: 5rem;
  padding: 2rem 0;
}

.plan .box-container .box .list {
  margin: 1rem 0;
}

.plan .box-container .box .list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.plan .box-container .box .list p span {
  color: #e67e22;
}

.plan .box-container .box .amount {
  font-size: 5rem;
  font-weight: bolder;
  color: #130f40;
}

.plan .box-container .box .amount span {
  font-size: 3rem;
}

.contact .box-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}

.contact .box-container .contact_us,
.contact .box-container .about{
  background: #fff;
}

.contact .box-container .about{
  display: flex;
  flex-direction: column;
  padding: 2rem 7%;
  justify-content: center;
}

.about h3{
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #130f40;
}

.about p{
  font-size: 1.7rem;
  padding-bottom: 1rem;
  color: #130f40;
}

.about .about_pic img{
  width: 100%;
}


.contact .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .image img {
  width: 100%;
}

.contact form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 2rem 7%;
}

.contact form .btn {
  width: 100%;
  text-align: center;
}

.contact form .btn:hover {
  background: #130f40;
}

.contact form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #130f40;
}

.contact form .box, .contact form textarea {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: .1rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
  padding: 1.5rem 0;
  margin: 1rem 0;
}

.contact form textarea {
  height: 15rem;
  resize: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 5rem 2rem;
  }
  .home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right;
  }
  .home .content {
    text-align: center;
    padding-bottom: 5rem;
  }
  .home .content h3 {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header .login-form {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */
h1#month{
  margin-right: 10px;
  font-size: 3rem;
  color: #130f40;
}
h1#year{
  font-size: 3rem;
  color: #130f40;
}
.calendar {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 2rem;
}

.calendar__info{
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}
.calendar__month,.calendar__next,.calendar__prev{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar__prev__next{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.calendar__prev__next .calendar__prev button,
.calendar__prev__next .calendar__next button{
  font-size: 1.5rem;
    outline: 2px solid #4d84e2;
    background: #4d84e2;
    padding: 0 10px;
    color: #fff;
    font-weight: 600;
}
.calendar__week,
.calendar__dates{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
.calendar__week{
  grid-template-rows: 45px;
  align-items: center;
}
.calendar__dates{
  grid-template-rows: repeat(5,70px);
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
  min-height: 470px;
}
.calendar__day,
.calendar__date{
  display: flex;
  justify-content: center;
}
.calendar__day{
  font-size: 2rem;
}
.calendar__date{
  outline: 2px solid #eee;
  height: 100%;
  align-items: center;
  border-radius: 15px;
}
.calendar__last-days{
  color: #666;
  opacity: .5;
}
.calendar__today{
  background-color: greenyellow;
}
/*
  .calendar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase; }
  .calendar__prev, .calendar__next {
    color: #C7F464;
    cursor: pointer;
    font-size: 1.3em; }
  .calendar__prev {
    margin-right: auto; }
  .calendar__next {
    margin-left: auto; }
  .calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px; }
  .calendar__month, .calendar__year {
    padding: .5em 1em; }
  .calendar__item {
    text-align: center;
    line-height: 2; }
  .calendar__today {
    background: lightcoral;
    color: white;
    width: 50%;
    border-radius: 50%;
    margin: auto; }
  .calendar__last-days {
    opacity: .3; }
    */

    .btn-day{
      height: 100%;
      width: 100%;
      cursor: pointer;
      border-radius: 15px;
    }

    .btn-day-today{
      background: #4d84e2;
    }


    /**/
    .modal-container{
      background-color: rgba(0, 0, 0,0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      opacity: 0;
      pointer-events: none;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      transition: opacity 0.3s ease;
    }

    .modal-container.show{
      pointer-events: auto;
      opacity: 1;
    }

    .modal{
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
      width: 600px;
      max-width: 100%;
      text-align: center;
    }

    .dates.available{
      border-top: 1px solid #e0e0e0;
      padding: 20px;
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .dates.not_available{
      border-top: 1px solid #e0e0e0;
      padding: 20px;
      display: flex;
      justify-content: center;
    }

    .dates .citas_btn{
      font-weight: 600;
      padding: 10px;
      font-size: 14px;
      border-radius: 16px;
      cursor: pointer;
    }

    .modal_header{
      display: grid;
      grid-template-columns: 20% 60% 20%;
      align-items: center;
      padding: 20px 30px 10px;
    }

    .modal_header_title{
      text-align: left;
    }
    .modal_header_date{
      font-size: 16px;
      font-weight: 500;
    }
    .modal_header .btn_close{
      color: #4d84e2;
      background: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }

    .modal_header .btn_close i{
      font-size: 25px;
    }

    .modal_body{
      padding: 2rem;
    }

    .modal_body .user{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
    }

    .modal_body .user_info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #eee;
      border: 1px solid rgb(219, 229, 230);
    }
    .modal_body .user_info_item{
    width: 100%;
    background-color: none;
    border-bottom: 1px solid rgb(219, 229, 230);
    padding: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    height: auto;
    word-wrap: break-word;
    color: #130f40;
    font-weight: 600;
    }
    .modal_body .user_info_item:last-child{
      border: 0;
    }
    .modal_body .user_info_item i{
      font-size: 2rem;
    }

    .modal_body .user_info_item h3,
    .modal_body .user_info_item span{
      font-size: 1.5rem;
    }

    .modal_body .user_cit{
      background: #eee;
      border-radius: 12px;
    }

    .modal_body .user_cit h1{
      border-bottom: 4px solid #fff;
    }

    .modal_body .user_cit_name{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      margin: 10px 0;
    }

    .modal_body .user_cit_list{
      display: grid;
      grid-template-columns: 1fr;
    }

    .modal_body .user_cit_list div{
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
    }

    .modal_body .user_cit_list span{
      font-size: 1.5rem;
    }

    .modal_body .user_cit_name h3{
      font-size: 1.5rem;
    }

    .modal .addCit_title,
    .modal .addCit_btn{
      color: #130f40;
    }

    .modal .addcitFrom{
      padding: 2rem;
    }


    .modal_user{
      width: 700px!important;
    }

    

/* ADMIN */
body.admin{
  background: #eee;
}

section.home_admin{
  padding-top: 10rem;
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.home_admin_cit{
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
}

.home_admin_cit h1{
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 3px solid #eee;
}

section .citas_admin_list,
section .Productos_admin_list,
section .Usuarios_admin_list{
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  height: 100%;
}

.list_info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
    border-bottom: 2px solid #eee;
}

.list_info h1,
.list_info button{
  display: flex;
  align-items: center;
  gap: 4px;
  color: #130f40;
  font-weight: bolder;
  font-size: 2rem;
}

.list_info button{
  background: #4d84e2;
  color: #fff;
  border-radius: 12px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 1.5rem;
}

.list-cit-list{
  min-height: 310px;
}

.list-cit-item,
  .list_users_list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  background: #eee;
  padding: 1rem;
}

.list_users_list {
  margin: 10px;
}
.list-cit-item span{
  font-size: 1.5rem;
  word-break:break-all;
}

.list-cit h3{
  font-size: 2rem;
  text-align: center;
}

.cit_all{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 10px;
  padding: 1rem;
  background-color: #eee;
}

.list-cit-names,
.list-users-name{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 10px;
}

.list-cit-names,
.list-users-name{
  background: #4d84e2;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #fff;
  padding: 1rem;
}

.cit_name_title{
  font-size: 1.7rem;
  font-weight: 600;
}

.cit_all_info,
.list_users_list span
{
  font-size: 1.4rem;
}

.cit_all_btn{
  background: none;
  font-size: 2rem;
  cursor: pointer;
}

.modal_header{
  border-bottom: 3px solid #eee;
}

.addcitFor{
  padding: 2rem;
}

.addCit_body{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 3rem;
}

.addcitFrom button{
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.modal_item{
  display: flex;
  flex-direction: column;
}

.modal_item label{
  font-size: 1.5rem;
  font-weight: 600;
}

.modal_item input{
  margin-top: 10px;
  border-bottom: 4px solid #eee;
  padding: 1rem;
}

/* PAGINATION */
.pagination-list{
  padding: 1rem;
  list-style: none;
  display: flex;
  gap: 10px;
}

.page-item a{
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.page-item.active a{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item a:hover{
  color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.disabled {
  pointer-events:none; 
  opacity:0.6;         
}

.list-name-cit{
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  background: #4d84e2;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #fff;
  margin: 15px 0 10px;
}

.list-cit-today{
  text-align: center;
}

.list-cit-today-empty{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.list-cit-today-empty h3{
  font-size: 3rem;;
}

#modal_container_product .modal{
  width: 380px;
}

.addProduct_body{
  display: flex;
  flex-direction: column;
}

.addProduct_body .modal_item{
  padding: 2rem 2rem 0;
}

.addProduct_body .modal_item input{
  margin-top: 10px;
  border: 4px solid #fff;
  padding: 1rem;
  border-radius: 12px;
  background: #eee;
}
.addProduct_body .modal_item input.error,
.addProduct_body .modal_item .item-label-file.error{
  border-color: red;
}

.addProduct_body .modal_item .item-label{
  text-align: left;
  margin-left: 5px;
}

.addProduct_body .modal_item .item-file{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.addProduct_body .modal_item .item-label-file{
  margin-top: 10px;
    border: 4px solid #fff;
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
    background: #eee;
}

.addProduct_body .modal_item .item-label-file i{
  font-size: 2.5rem;
}

.addProduct_body .modal-item .item-file + .item-label-file{
  font-size: 1.25em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.addProductFrom button{
  margin: 20px;
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
}



.card {
  margin: 10px;
  width: 350px;
  height: 400px;
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgb(0 0 0 / 50%);
}
.card:hover {
  transform: translateY(0);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.card .info h1 {
  margin: 0px;
  font-size: 2rem;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.card .info button:hover {
  background: dodgerblue;
  color: white;
}


/* RESPONSIVE */

/* Mobile-Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 479px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .services .box-container,
    .contact .box-container,
    .modal_body .user{
      grid-template-columns: repeat(1,1fr);
    }
    .modal-container{
      padding: 2rem;
    }
    .home{
      background-position: -200px;
    }
    .list_users_list{
      word-wrap: break-word;
    }
    .list_users_list span,
    .cit_all_info{
      font-size: .9rem;
    }
    .list_users_list span:first-child,
    .list_users_list h3:nth-child(4){
      text-align: center;
    }
    .list_users_list span:nth-child(2),
    .list_users_list span:nth-child(3){
      width: 50px;
      text-align: center;
    }
    .cit_name_title{
      font-size: 1rem!important;
    }

    .addCit_body{
      flex-direction: column;
    }

    .modal_item label{
      text-align: left;
    }

    

}

/* Mobile-Landscape */
@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 599px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .shop .box-container{
      grid-template-columns: repeat(2,1fr);
    }
    .home{
      background-position: inherit;
    }
    .contact .box-container{
      grid-template-columns: repeat(1,1fr);
    }
    .modal-container{
      padding: 2rem;
    }
    .list_users_list{
      word-wrap: break-word;
    }
    .list_users_list span:first-child,
    .list_users_list h3:nth-child(4){
      text-align: center;
    }
    .list_users_list span:nth-child(2),
    .list_users_list span:nth-child(3){
      width: 80px;
      text-align: center;
    }
    .list-product{
      grid-template-columns: repeat(2,1fr);
    }
}

/* small-tablet-portrait */
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 799px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .shop .box-container{
      grid-template-columns: repeat(2,1fr);
    }
    .home{
      background-position: inherit;
    }
    .contact .box-container{
      grid-template-columns: repeat(1,1fr);
    }
    .modal-container{
      padding: 2rem;
    }
    .list_users_list{
      word-wrap: break-word;
    }
    .list_users_list span:first-child,
    .list_users_list h3:nth-child(4){
      text-align: center;
    }
    .list_users_list span:nth-child(2),
    .list_users_list span:nth-child(3){
      width: 90px;
      text-align: center;
    }
    .list-product{
      grid-template-columns: repeat(2,1fr);
    }
}

/* small-tablet-portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .home{
      background-position: inherit;
    }
}


#edit_product .modal{
  width: 300px;
}
#edit_product button{
  margin: 20px;
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
}