*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

/*========== Navbar ==========*/
nav{
    position: fixed;
    width: 100%;
    transition: 0.6s;
    background:  #25896B;
}

/* animación para la navbar */
.sticky{
    padding:  5px 70px;
    background:  #25896B;
    z-index: 100;
}

/* Contenedor del navbar */
.Navbar__Container{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center; 
    padding: 0 40px;
}

.Navbar__Logo a{
    text-decoration: none;
    color: #fff;
    
}

.Navbar__Menu ul{
    list-style: none;
}

.Navbar__Menu ul li{
    display: inline-block;
    margin: 0 10px;
}

.Navbar__Menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/*========== titulo ==========*/
.info__title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 280px;
    text-align: center;
}

.info__title label{
    font-size: 6vW;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
}

/*========== BOTON RESPONSIVO ==========*/
.hamburger__menu{
    display: none;
}

.bar{
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}